.content {
  position: fixed;
  top: 136px;
  bottom: 130px;
  left: 5px;
  right: 5px;
  border: solid black 1px;
  background-color: #ECEFF1;
  padding: 2px;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
}