*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

html,
body {
  min-height: 100%;
  min-height: 100vh;
}

body {
  font: 16px "Roboto", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  background: white;
}

.App {
  width: 100%;
  background: white;
  padding: 0.25rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
.App > header,
.App > main,
.App > footer {
  width: 100%;
  padding: 0.25rem;
  margin: 0.25rem 0.25rem;
  text-align: center;
  transition: 200ms;
}
.App > header {
  display: block;
  color: white;
  background: lightsteelblue;
  text-transform: uppercase;
}
.App > main {
  flex: 1 1 auto;
  color: white;
  background: lightsteelblue;
}
.App > footer {
  background: lightsteelblue;
}
